PROXY_HOST=0.0.0.0
PROXY_PORT=8443
PROXY_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx # openssl rand -hex 16  
CFPROXY_DOMAIN=example.com # https://github.com/Flowseal/tg-ws-proxy/blob/main/docs/CfProxy.md
CFPROXY_WORKER_DOMAIN=my-worker.workers.dev # https://github.com/Flowseal/tg-ws-proxy/blob/main/docs/CfWorker.md